
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

@media screen and (max-width: 800px) {
    header, main, footer{
        display: none !important;   /*important를 쓰지 않으면 순서대로 display none이 적용되고, 밑에 header, main, footer 클래스 css를 만나면 display flex를 만나기 때문에 소용이 없어진다*/
    }

    html{
        height: 100%;   /*display none을 할 경우 height가 auto임. 이 때 html 태그 안에 보이는 것은 메세지를 담은 div 태그 밖에 없음. 그래서 html의 height가 div의 height에 자동으로
        맞춰줌. 이럴 경우 div를 세로로 align하고 싶어도 상위 태그인 html의 height가 div랑 같아서 티가 안난다. 그래서 html 태그 영역을 화면 height에 맞추면 div가 중앙에 align된다 */
        display: flex;
        justify-content: center;
    }
    .co{
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .note{
        display: block !important;
    }
}

*{ /*전체적으로 margin, padding 초기화*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}


header{
    height: 40px;
    background-color: rgb(216, 57, 123);
}

main{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.top{
    display: flex;
    height: 35px;
    background-color: #ffa500;
    color: white;
    font-size: 18px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 25px;
}

.container{
    height: 400px;
    background-color: rgb(218, 232, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section{
    width: 30%;
    height: 45%;
    background-color: white;
    border-radius: 7px;
}

aside{
    flex-wrap: hidden;
    height: 100px;
    background-color: skyblue;
    margin-top: auto;
}

.team{
    display: flex;
    float: left;
    width: 470px;
    height: 100%;
    background-color: #ffd400;
    border-radius: 5px;
}

.hi{
    display: flex;
    float: right;
    width: 230px;
    height: 100%;
    background-color: #ccb856;
    text-align: center;
    border-radius: 5px;
}

.item{
    display: flex;
}

#movie{
    background-image: url(./shaw.jpg);
    background-size: cover;
    position: relative;
}

#doggo{
    background-image: url(./doggo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    z-index: 2;
}

section:hover p{
    z-index: 3;
}

p{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    z-index: 1;
}


.note{
    display: none;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


footer{
    height: 200px;
}